

<header class="header">



  <div class="container" style="overflow: visible;">

    

    <div class="navbar box" aria-label="main navigation">

      <a class="navbar-logo" href="{{@blog.url}}">{{> "global/logo"}}</a>

      <a class="navbar-touch" aria-hidden="true"></a>

        <div class="search-container">
            <div class="search">
                <i class="fa fa-search"></i>
                <!--<span class="lens">&#128270;</span>-->
                <input id="search-input" type="text" placeholder="Поиск статей" />
                <!--<i class="fa fa-times"></i>-->
                <span class="times">&times;</span>
            </div>
            <div id="search-result"></div>
        </div>

        <a class="navbar-search" aria-hidden="true">
            <i class="fa fa-search"></i>
        </a>
      <a class="navbar-nav-toggle" role="button" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>

      <nav class="navbar-nav">
        {{navigation}}
          <a class="navbar-search-toggle" aria-hidden="true">
              <i class="fa fa-search"></i>
              <!--&#128270;-->
          </a>
        <a class="navbar-night-mode-toggle" aria-hidden="true">
          <i class="far fa-moon"></i><span> &nbsp; Ночной режим</span>
        </a>
        <div class="navbar-social">
          {{> "global/social" _icons="true"}}
        </div>
        <div class="navbar-misc">
          <a class="misc-item" href="/about">О нас</a>
          <a class="misc-item" href="/ads">Реклама</a>
        </div>
      </nav>

    </div>
  </div>
</header>
