.sharing
  display: none
  cursor: pointer
  flex-direction: row
  align-items: center
  margin-bottom: 30px
  +media-breakpoint-up(lg)
    display: flex
  a
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    width: 35px
    height: 35px
    margin-right: 6px
    background-color: #008dcd
    border-radius: 50%
    cursor: pointer
    &:last-of-type
      margin-right: 0px
  i
    font-size: 18px
    color: white
  img
    width: 30px
    height: 30px
    background-color: #008dcd

.sharing-button-container
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  position: fixed
  right: 20px
  bottom: 20px
  +media-breakpoint-up(lg)
    display: none
  &.expanded
    .share-container
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
    .fa-times
      display: flex
    .fa-share-alt
      display: none !important
  .share-container
    display: none
    position: relative
    margin-bottom: 15px
    a
      display: flex
      flex-direction: row
      justify-content: center
      align-items: center
      width: 50px
      height: 50px
      margin-top: 10px
      background-color: #008dcd
      border-radius: 50%
      cursor: pointer
      &:first-of-type
        margin-top: 0px
    i
      font-size: 18px
      color: white
  .sharing-button
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    width: 50px
    height: 50px
    border-radius: 50%
    background: rgba(27, 127, 204, 0.5)
    i
      font-size: 20px
      color: white

    .fa-times
      display: none
    .fa-share-alt
      display: flex


